*{
    padding: 0;
    margin: 0;
}

body{
    background: #ffffff;
    color: #000000;
    font-family: "Source Code Pro", "Monaco", sans-serif;
}

.rows{
    height: 36px;
    background: #123456;
    font-size: 27px;
    clear: both;
}

.rows .rowelement{
    float: left;
    margin: 0 27px 0 0;
}

#clock {
    font-size: 112px;
    vertical-align: top;
    float: right;
    margin-right: 5px;
}

footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}