@font-face {
    font-family: 'mingray_mono_regular';
    src: url('fonts/mingraymono-regular.eot');
    src: url('fonts/mingraymono-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/mingraymono-regular.woff') format('woff'),
         url('fonts/mingraymono-regular.ttf') format('truetype'),
         url('fonts/mingraymono-regular.svg#mingray_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mingray_mono_light';
    src: url('fonts/mingraymono-light.eot');
    src: url('fonts/mingraymono-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/mingraymono-light.woff') format('woff'),
         url('fonts/mingraymono-light.ttf') format('truetype'),
         url('fonts/mingraymono-light.svg#mingray_monolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
}

body {
    background: white;
    color: black;
    font-family: 'mingray_mono_light', 'Consolas', 'Monaco', sans-serif;
}

#timebox {
    vertical-align: top;
    float: right;
    margin: 5px;
}

#clock {
    font-size: 100px;
}

#day {
    text-align: center;
}

#message {
    clear: both;
    margin: 5px auto;
    text-align: center;
}

#error {
    margin: 20px auto;
    text-align: center;
}

table {
    clear: both;
    border-collapse: collapse;
    padding: 0;
    margin: 0 0 0 5px;
}

.rowelement {
    padding-right: 5px;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
}
