<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    {% if title %}<title>{{ title }}</title>{% else %}<title>up next</title>{% endif %}
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen">
    <script src="{{ url_for('static', filename='jquery-1.10.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.flightboard.min.js') }}"></script>

</head>
<body>
    <div id="main">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="message">
                    {% for message in messages %}<div>{{ message|safe }}</div>{% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>
