<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    {% if title %}<title>MRMCD2013 {{ title }}</title>{% else %}<title>MRMCD2013</title>{% endif %}
    <link href="{{ url_for('static', filename='favicon.png') }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen">
    <script src="{{ url_for('static', filename='jquery-1.10.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.flightboard.min.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            var clock = $('#clock');
            var interval = setInterval(function () {
                var time = new Date();
                var hours = time.getHours();
                var minutes = time.getMinutes();
                if (hours < 10) {
                    hours = '0' + hours;
                }
                if (minutes < 10) {
                    minutes = '0' + minutes;
                }
                $("#clock").text(hours + ':' + minutes);
            }, 100);
        });
    </script>

</head>
<body>
    <header>
        <img src="static/img/mrmcd13_logo.png" alt="Papierflieger MRMCD2013 SECURITY ADVICE">
        <div id="timebox">
            <span id="clock">23:42</span>
            {% if servicefunctions is defined and servicefunctions.get_day_number is not none %}
                <div id="day" title="{{ servicefunctions.get_day_number[1] }}">Day: {{ servicefunctions.get_day_number[0] }} &mdash; {{ servicefunctions.get_day_number[1] }}</div>
            {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
                {% if messages %}
        <div id="message">
            {% for message in messages %}<span>&rarr;&nbsp;{{ message|safe }}</span>{% endfor %}
        </div>
                {% endif %}
            {% endwith %}
    </header>

    {% block content %}{% endblock %}

    <footer>
        MRMCD 2013 | Flightboard &copy; Eris Diskordia | CCCMZ.
    </footer>

</body>
</html>
