{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">

function getjson(element) {
    var result = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': '{{ url_for('content') }}',
        'dataType': 'json',
        'success': function(data){ result = data; }
    });
    return result[element];
};

$.flightboard.setDefaults( getjson('defaults') );

$(function () { $('#time').flightboard( getjson('time') ); });
setInterval(function(){$('#time').flightboard( getjson('time') ); }, 60000);

$(function () { $('#depature').flightboard( getjson('depature') ); });
setInterval(function(){$('#depature').flightboard( getjson('depature') ); }, 60000);

$(function () { $('#flight').flightboard( getjson('flight') ); });
setInterval(function(){$('#flight').flightboard( getjson('flight') ); }, 60000);

$(function () { $('#gate').flightboard( getjson('gate') ); });
setInterval(function(){$('#gate').flightboard( getjson('gate') ); }, 60000);

$(function () { $('#test').flightboard(  ); });
setInterval(function(){$('#test').flightboard( getjson('test') ); }, 60000);

</script>

<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Gate</th>
            <th>Flight</th>
            <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="rowelement" id="time"></td>
            <td class="rowelement" id="gate"></td>
            <td class="rowelement" id="flight"></td>
            <td class="rowelement" id="depature"></td>
        </tr>
    </tbody>
</table>

{% endblock %}
