{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">

function getjson(element) {
    var result = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': '{{ url_for('content') }}',
        'dataType': 'json',
        'success': function(data){ result = data; }
    });
    return result[element];
};

$.flightboard.setDefaults( getjson('defaults') );

$(function () { $('#time').flightboard(
    {
        messages: ['   23 42'],
        maxLength: 8,
    }); });

$(function () { $('#depature').flightboard(
    {
        messages: ['BIERTRINKEN GEGEN DEN KRIEG', 'PRAKTIZIERTER PAZIFISMUS'],
        maxLength: 30,
    }); });

$(function () { $('#flight').flightboard(
    {
        messages: ['2342'],
        maxLength: 4,
    }); });


$(function () { $('#gate').flightboard(
    {
        messages: ['SAAL 23'],
        maxLength: 8,
    }); });

$(function () { $('#test').flightboard(  ); });
setInterval(function(){$('#test').flightboard(getjson('test') ); }, 60000);

</script>

<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Gate</th>
            <th>Flight</th>
            <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="rowelement" id="time"></td>
            <td class="rowelement" id="gate"></td>
            <td class="rowelement" id="flight"></td>
            <td class="rowelement" id="depature"></td>
        </tr>
    </tbody>
</table>

<div class="rowelement" id="test"></div>

{% endblock %}
